.experience-container{
    padding-top: 150px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.experience-container h1{
    padding: 5px;
    color: rgb(0, 149, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
    border-radius: 15px;
    width: 100%;
    text-align: center;
}
.experience-container .contnet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 60%;
    position: relative;
    padding: 10px;
    border-radius: 15px;
    border: 2px solid rgb(229, 151, 0);
    overflow: hidden;
}
.experience-container .contnet .skills{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-align: center;
}
.experience-container .contnet .skills .skill{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
    text-decoration: none;
    color: white;
    
}
.experience-container .contnet .skills .skill:hover{
    transform: translateY(-5px);
}
.experience-container .contnet .skills .skill .skill-image{
    width: 100%;
    background: linear-gradient(to right, #283048, #859398);
}
.experience-container .contnet .skills .skill .skill-image img{
    width: 50%;
    height: 150px;
    margin: auto;
    background-size: cover;
    background: none;
    background-position: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px;
}
.experience-container .contnet .skills .skill .skill-info{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    background-image: linear-gradient(to bottom right, #121C84, #8278DA);
}
.experience-container .contnet .skills .skill .skill-info p{
    background: none;
}